h1
{
	color:#B39048;
}

h2
{
	color:#B39048;
}

body

{
	background-color:#d6cbac;
}

#fondcentre
{
	width:900px;
	margin:0 auto;
	background-color:#E7E5D9;
	text-align: center;
	align-content: center;
}